*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}
p{
    margin: unset;
    padding: unset;
}

/* spacing */
a{
    text-decoration: none;
    color: unset;
}

.spacing-5{
    height: 5em;
}
.spacing-1
{
  height: 1em;
}
.spacing-2
{
  height: 2em;
}
.spacing-3
{
  height: 3em;
}
.spacing-4
{
  height: 4em;
}
.spacing-10
{
  height: 10em;
}
.spacing-11
{
  height: 11em;
}
.spacing-12
{
  height: 12em;
}
.spacing-8
{
  height: 8em;
}
.spacing-7
{
  height: 7em;
}
.spacing-6
{
  height: 6em;
}

/* end of spacing */
/* bold */
.bold-200
{
    font-weight: 200;
}
.bold-300
{
    font-weight: 300;
}
.bold-400
{
    font-weight: 400;
}
.bold-500
{
    font-weight: 500;
}
.bold-600
{
    font-weight: 600;
}.bold-700
{
    font-weight: 700;
}
.bold-800
{
    font-weight: 800;
}
.bold-900
{
    font-weight: 900;
}
.bold-unset
{
    font-weight: unset;
}

/* text-alignment */
.txt-center
{
    text-align: center;
}
.txt-left
{
    text-align: left;
}
.txt-right
{
    text-align: right;
}

/* btn */
.btn
{
    padding:5px;
}

/* background colors */
.bg-blue
{
    background:blue;
}
.bg-black
{
    background:black;
}
.bg-yellow
{
    background:yellow;
}
.bg-red
{
    background:red;
}
.bg-maroom
{
    background:dark-red;
}
.bg-light-blue
{
    background:rgb(7, 150, 245);
}
.bg-white
{
    background:white;
}

/* txt colors */
.txt-blue{
    color:blue;
}
.txt-red{
    color:red;
}
.txt-yellow{
    color:yellow;
}
.txt-black{
    color:black;
}
.txt-white{
    color:white;
}
/* display flex */
.flex
{
   display:flex; 
}

.justify-center
{
   justify-content:center; 
}
.justify-flex-start
{
   justify-content:flex-start; 
}
.justify-flex-end
{
   justify-content:flex-end; 
}
.aign-items-center
{
    align-items: center;
}
.aign-items-start
{
    align-items: flex-start;
}
.aign-items-end
{
    align-items: flex-end;
}
.width-100
{
    width: 100%;
}
/* end of custom css classes for shortcut */

/* starting of site */
.custom-container
{
    width: 98%;
    margin: auto;
}
.first-row-inner
{
    display: flex;
    justify-content: center;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    /* border: 2px solid rgb(233, 233, 233);
    border-style: dashed; */
    border-radius: 4px;
}
@media(max-width:600px)
{
    .first-row-inner
    {
        flex-direction: column-reverse;
    }
}
.first-col-1
{
    width: 30%;
}

.first-col-1-inner
{
    display: column;
    justify-content: center;
    align-items: center;
}
.first-col-1-header
{
    height: 55px;
    background: rgb(40, 151, 241);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}
.first-col-1-header span
{
    margin-left: 5px;
    font-weight: 300;
}

.first-col-1-1
{
    min-height: 380px;
    width: 90%;
    margin: auto;
    margin-top: 9px;
    background: rgb(245, 245, 245);
    border-radius: 4px;
}

.first-col-1-2
{
    /* min-height: 380px; */
    width: 90%;
    margin: auto;
    margin-top: 9px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}
@media(max-width:600px)
{
    .first-col-1
    {
        width: 100%;
    }
}
.first-col-2
{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first-col-2-inner
{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.first-col-2-map
{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-top: 40px;
}
.first-col-2-map svg
{
   width: 90%;
   padding-bottom: 80px;
}

@media(max-width:600px)
{
    .first-col-2
    {
        width: 100%;
    }
    .first-col-2-map svg
{
   width: 98%;
   margin: auto;
   padding-bottom: 35px;
}
.first-col-2-map
{  
    width: 100%;
    padding-top: 20px;
}
}
.back-to-map
{
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 2;
}
/* map scale */
.map-scale
{
    width: 100%;
}
.map-scale img
{
    width: 100%;
}

/* shutdown stats */
.shutdown-stats-block
{
    width: 100%;
}
.shutdown-stats-inner
{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.shutdown-stats-text-blocks
{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.shutdown-text-lower
{
    background: rgb(112, 117, 124);
    color: white;
    padding: 3px;
    border-radius: 2px;
    
}
.shutdown-text-upper
{
    color: rgb(61, 61, 61);
    font-weight: 500;
}

/* lockdown counts */
.lockdowns-count-block
{
    width: 100%;
    margin-top: 20px;
}
.lockdowns-count-block-inner
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lockdown-count-row
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}
.lockdown-count-col
{
    width: 45%;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lockdown-count-col:nth-child(1)
{
    background: white;
    border-radius: 4px;
}
.lockdown-count-col:nth-child(2)
{
    font-size: 22px;
    font-weight: 600;
    color: rgb(0, 138, 252);
}

/* pull-down-to see btn */
.pull-down-to-see-detail-block
{
    font-size: 13px;
    text-align: center;
}

/*down arrow  */
.down-arrow-icon
{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: rgb(0, 138, 252);
    transition: ease-in-out 0.2s;
}

.down-arrow-icon:hover
{
transform: scale(1.2);
cursor: pointer;
}

/* internet stats table */
.lockdown-stats-table-block
{
    width: 100%;
    display: none;
}
.lockdown-stats-table-block-inner
{
    overflow: scroll;
    height: 400px;
}
.lockdown-stats-table-block-inner::-webkit-scrollbar
{
    width: 5px;
    border-radius: 40px;
}
.lockdown-stats-table-block-inner::-webkit-scrollbar-thumb
{
    background: rgb(68, 68, 68);
    border-radius: 40px;
}
/* recent-shutdown */
.recent-shutdown-block
{
    overflow: scroll;
    height: 350px;
    margin-top: 20px;
}
.recent-shutdown-block::-webkit-scrollbar
{
    width: 5px;
    border-radius: 40px;
}
.recent-shutdown-block::-webkit-scrollbar-thumb
{
    background: rgb(68, 68, 68);
    border-radius: 40px;
}
.recent-shutdown-block-inner
{
    width: 90%;
    margin: auto;
}

/* recent-shutdown-card */
.recent-shutdown-card
{
    min-height: 80px;
    width: 100%;
    margin-top: 10px;
    background: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
}
.recent-shutdown-card:nth-child(1)
{
    margin-top: unset;
}
.recent-shutdown-card-date
{
    margin-top: 10px;
    background: white;
    width: max-content;
    padding: 3px 20px 3px 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 17px;
}
.recent-shutdown-card-body
{
    padding-left: 13px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    color: rgb(43, 42, 42);
}
.recent-shutdown-card-source
{
    padding-left: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(0, 140, 255);
}

/* toggle block */
.states-name-block
{
    position: absolute;
    min-height: 180px;
    width: 350px;
    top: 0;
    right: 10px;
}
.states-name-block-inner
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.shutdowns-in-state,.state-name
{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 132, 255);
    margin-top: 10px;
}
.world-india-toggle
{
    font-size: 23px;
}
.active-map
{
    color: rgb(0, 110, 255);
}
.toggle-icon
{
    color: rgb(0, 111, 202);
}

@media(max-width:600px)
{
    .states-name-block
    {
        width: 100%;
        position: relative;
    }
}

/* second-container css */
.second-continer
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-cotainer-col-1
{
    width: 50%;
    border: 1px solid rgb(0, 132, 255);
}
.second-cotainer-col-2
{
    width: 25%;
    border: 1px solid rgb(0, 132, 255);
}
.second-cotainer-col-3
{
    width: 25%;
    border: 1px solid rgb(199, 5, 5);
}
.second-container-txt-1,.second-container-txt-2,.second-container-txt-3
{
    padding:15px 10px
}
.second-container-txt-1
{
    color: rgb(0, 110, 255);
}
.second-container-txt-2
{
    color: rgb(255, 255, 255);
    background: rgb(53, 127, 223);
}
.second-container-txt-3
{
    color: rgb(255, 255, 255);
    background: rgb(202, 6, 6);
}

@media(max-width:600px)
{
    .second-cotainer-col-1,.second-cotainer-col-2,.second-cotainer-col-3
    {
width: unset;
    } 
    .second-container-txt-1
    {
        padding:5.5px 8px
    }
}

/* end of second container */
.forth-container-header
{
    font-size: 42px;
    color: rgb(0, 132, 255);
}

/* forth container */
.forth-container
{
    overflow-x: scroll;
}
.forth-container::-webkit-scrollbar
{
    width: 5px;
    border-radius: 40px;
}
.forth-container::-webkit-scrollbar-thumb
{
    background: rgb(25, 112, 184);
    border-radius: 40px;
}
.forth-container-inner
{
    width: 90%;
    margin: auto;
    /* height: 500px; */
}
.forth-container-row
{
    display: flex;
    justify-content: center;
}

.forth-container-col-1
{
    width: 40%;
    align-self: center;
}
.forth-container-col-2
{
    width: 5%;
position: relative;
/* background: rgb(226, 226, 226); */
}
.forth-container-col-3
{
    width: 55%;
    align-self: center;
    padding-top: 70px;
    padding-bottom: 50px;

}
.forth-container-col-1-txt-1,.forth-container-col-1-txt-2,.forth-container-col-1-txt-3
{
    text-align: right;
    margin-bottom: 10px;
}
.forth-container-col-1-txt-1
{
    background: rgb(209, 232, 253);
    width: max-content;
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 3px;
}
.forth-container-col-1-txt-2
{
    color: rgb(39, 131, 207);
}


.forth-container-col-3-txt-2
{
margin-top: 15px;
color: rgb(39, 131, 207);
font-weight: 600;
}
.forth-container-divider
{
    position: absolute;
    width: 2px;
    background: rgb(139, 139, 139);
    top: 34px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.forth-container-circle
{
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    border: 2px solid rgb(46, 46, 46);
}
.forth-container-circle::after
{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background: rgb(0, 140, 255);
    z-index: 1;
}

@media(max-width:600px)
{
    .forth-container-circle
    {
        left:-8px;
    }
}

/* fifth-container */
.fifth-container-heading
{
    text-align: center;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    background: rgb(0, 132, 255);
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.fifth-inner-container
{
    display: flex;
    width: 99%;
    margin: auto;
}
.fifth-col-1
{
    width: 30%;
    overflow-y: scroll;
}
.fifth-col-1::-webkit-scrollbar
{
    width: 5px;
    border-radius: 40px;
}
.fifth-col-1::-webkit-scrollbar-thumb
{
    background: rgb(25, 112, 184);
    border-radius: 40px;
}
.fifth-col-2
{
    width: 70%;
}

.fifth-col-1-inner
{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    height: 570px;
}
.fifth-col-2-inner
{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.fifth-col-1-row
{
    width: 100%;
    border-radius: 4px;
    height: 200px;
    background: rgb(209, 232, 253);
}

.fifth-col-2-inner
{
    width: 85%;
    margin: auto;
}
.fifth-col-2-row-1
{
    width:100%;
    border-radius: 4px;
    height: 360px;
    background: rgb(197, 196, 196);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.fifth-col-2-row-2
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}
.fifth-col-2-row-2-col-1
{
    width: 49%;
    height: 200px;
    background: rgb(204, 204, 204);
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.video-play-btn-img
{
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
}
.video-play-btn-img:hover
{
    transform: scale(1.093);
    cursor: pointer;
}
.fifth-col-2-row-2-txt,.fifth-col-2-row-1-txt
{
    position: absolute;
    bottom: 15px;
    left: 0px;
    color: rgb(248, 248, 248);
    width: max-content;
    background: rgba(0, 0, 0, 0.315);
    padding:10px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.fifth-col-2-row-1-txt
{
    font-size: 28px;
    font-weight: 600;
}
.fifth-col-2-row-2-txt
{
    font-size: 22px;
    font-weight: 600;
}


@media(max-width:600px)
{
    .fifth-inner-container
    {
     flex-direction: column;
    }
    .fifth-col-1
    {
        width: 100%;
    }
    .fifth-col-2
    {
        width: 100%;
        margin-top: 42px;
    }
    .fifth-col-2-inner
    {
        width: 100%;
    }
    .fifth-col-2-row-1-txt
    {
        font-size: 22px;
    }
    .fifth-col-2-row-2-txt
    {
        font-size: 8px;
    }
}

/* sixth container */
.sixth-container{
    position: relative;
}
.sixth-container-overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.sixth-container-animation
{
    animation:sixth-container-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes sixth-container-animation
{
    0%
    {
        transform: scale(0.9);
    }
    30%
    {
        transform: scale(1.02);
    }
    70%
    {
        transform:scale(1.08)
    }
    100%
    {
        transform: scale(1);
    }
}
.sixth-container-overlay-left
{
    width: 16%;
    height: 100%;
    z-index: 1;
}
.sixth-container-overlay-right
{
    width: 16%;
    height: 100%;
    z-index: 1;  
}
.sixth-container-overlay-right:hover,.sixth-container-overlay-left:hover
{
    cursor: pointer;
}
.sixth-container-header
{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    background: rgb(7, 150, 245);
    color: white;
}
.sixth-container-header-2
{
    font-size: 36px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: rgb(7, 150, 245);
}

.sixth-container-inner
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.sixth-col-1
{
display: none;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}

.sixth-col-1.sixth-first
{
    width: 15%;
    height: 300px;
    background: rgb(245, 245, 245);

}
.sixth-col-1.sixth-first .sixth-col-image
{
    /* display: none; */
    width: 40%;
}
.sixth-col-1.sixth-first .sixth-col-text
{
    font-size: 5px;
    width: 100%;
}
.sixth-col-1.sixth-first .sixth-col-text .sixth-col-text-header
{
    font-size: 6px;
}
.sixth-col-1.sixth-second
{
    width: 68%;
    background: rgb(250, 251, 252);

}
.sixth-col-1.sixth-third
{
    width: 15%;
    height: 300px;
    background: rgb(239, 241, 243);

}

.sixth-col-1.sixth-third .sixth-col-image
{
   width: 40%;
}
.sixth-col-1.sixth-third .sixth-col-text
{
    width: 100%;
    font-size: 5px;
}
.sixth-col-1.sixth-third .sixth-col-text .sixth-col-text-header
{
    font-size: 6px;
}

.sixth-col-img
{
    max-width: 100%;
}

.sixth-col-image
{
    width: 50%;
}
.sixth-col-text
{
    width: 50%;
    font-size: 14px;
    padding: 25px 15px;
    font-weight: 500;
    line-height: 1.23;
    color: rgb(51, 51, 51);
}
.sixth-col-text-header
{
    color: rgb(0, 132, 255);
    font-size: 23px;
    /* font-weight: 600; */
    margin-bottom: 10px;
}

@media(max-width:600px)
{
    .sixth-col-1.sixth-second
    {
        width: 80%;
    }
    .sixth-col-1.sixth-first,.sixth-col-1.sixth-third
    {
        width: 16%;
        height: 100px;
        overflow: hidden;

    }

    .sixth-col-1.sixth-first
    {
        border-right:1px solid rgb(202, 202, 202);
        border-top:1px solid rgb(211, 211, 211);
        border-bottom:0.5px solid rgb(226, 226, 226);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    
    .sixth-col-1.sixth-second
    {
       border:1px solid rgb(223, 223, 223);
       border-radius: 4px;
       margin-left: 5px;
       margin-right: 5px;
    }


    .sixth-col-1.sixth-third

    {
        border-left:1px solid rgb(212, 212, 212);
        border-top:1px solid rgb(204, 203, 203);
        border-bottom:0.5px solid rgb(206, 206, 206);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .sixth-col-1
    {
        flex-direction: column;
    }
    .sixth-col-text
    {
        width: 95%;
        margin: auto;
        padding:5px;
    }

    .sixth-col-1.sixth-first .sixth-col-text,.sixth-col-1.sixth-third .sixth-col-text
    {
        font-size: 1px;
    }
    .sixth-col-1.sixth-second .sixth-col-text .sixth-col-text-header
    {
        font-size: 14px;
        margin-bottom: unset;
    }
    .sixth-col-1.sixth-second .sixth-col-text .sixth-col-text-detail
    {
        font-size: 8px;
    }
    .sixth-col-image
    {
        margin-top: 10px;
    }
}
/* seventh-container */
.seventh-container-inner
{
    display: flex;
    background: rgb(237, 246, 248);
    padding-top: 20px;
    padding-bottom: 10px;
}
.seventh-heading
{
width: 30%;
text-align: right;
font-size: 26px;
padding-top: 30px;
color: rgb(40, 151, 241);

}
.seventh-partners
{
    width: 70%;
}

/* partners */
.partners-inner
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.partners-columns
{
  width: 20%;
  min-height: 100px;
}

.partners-image
{
    background-image: url("https://www.precisely.co.in/learnage/images/partner/0.jpg");
   width: 100%;
  height: 80px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

@media(max-width:700px)
{
  .partners-columns
  {
    width: 73%;
  }
 
  .seventh-heading
  {
      font-size: 14px;
      text-align: center;
  }
  .partners-image
{
    height: 32px;
}
.partners-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}



/* video  */
/* video-playback */
.yt-video
{
    display: none;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    /* height: 900px; */
    z-index: 6;
    bottom: 0;
}
.video-playback
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    
}
.video-playback-inner
{
    width: 90%;
    height: 100%;
    margin:auto;
   
}
.video-section
{
    width: 100%;
    height: 90%;
    margin: auto;
}
.youtube-video
{
    width: 100%;
    height: inherit;
}
.video-close-btn
{
    font-size: 30px;
    color: white;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transform: all 0.3s;
}
.video-close-btn:hover
{
    font-size: 29px;
}
.close-btn
{
    background-color: maroon;
   padding:2px 10px 2px 10px;
   border-radius: 4px;
   cursor: pointer;
}