path {
    pointer-event: all;
    stroke: #0066cc;
    stroke-opacity: 5;
    stroke-width: 1.8;
}

path:hover {
    fill: dimgray;
    stroke: whitesmoke;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 2px 8px 2px;
}
th
{
    text-align: justify;
}
td
{
    padding: 10px 1px 10px 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}